interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"api_token":"REDACTED","email":"REDACTED","fullname":"Nablabits","timezone":"Europe/Madrid","2fa_enabled":false,"toggl_accounts_id":"KPdpGGLUK6rWsaiFmNhv8y","default_workspace_id":21407567,"beginning_of_week":1,"image_url":"https://assets.track.toggl.com/images/profile.png","created_at":"2026-05-18T18:50:58.219746Z","updated_at":"2026-05-20T18:22:27.637339Z","openid_email":null,"openid_enabled":false,"country_id":208,"has_password":true,"at":"2026-05-23T11:42:42.108127Z","authorization_updated_at":"2026-05-23T10:42:45.348237418Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '584'
      X-Toggl-Quota-Resets-In:
      - '3'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects
  response:
    body:
      string: '[{"id":219958848,"workspace_id":21407567,"client_id":null,"name":"Alpha","is_private":true,"active":true,"at":"2026-05-20T19:35:19+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#4dc3ff","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":4,"actual_seconds":15600,"total_count":3,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","status":"active","wid":21407567,"cid":null,"pinned":false},{"id":219958850,"workspace_id":21407567,"client_id":null,"name":"Beta","is_private":true,"active":true,"at":"2026-05-20T19:34:33+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#8ab734","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":2,"actual_seconds":7800,"total_count":3,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","status":"active","wid":21407567,"cid":null,"pinned":false},{"id":219958851,"workspace_id":21407567,"client_id":null,"name":"Gamma","is_private":true,"active":true,"at":"2026-05-20T19:34:34+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#f68d38","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":2,"actual_seconds":9000,"total_count":3,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","status":"active","wid":21407567,"cid":null,"pinned":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Page:
      - '1'
      X-Page-Size:
      - '151'
      X-Service-Level:
      - GREEN
      X-Sort-Field:
      - project_name
      X-Sort-Order:
      - asc
      X-Toggl-Quota-Remaining:
      - '586'
      X-Toggl-Quota-Resets-In:
      - '3'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/219958848/tasks
  response:
    body:
      string: '[{"id":242178346,"name":"Research","workspace_id":21407567,"project_id":219958848,"user_id":null,"recurring":false,"active":true,"at":"2026-05-20T19:34:32+00:00","server_deleted_at":null,"estimated_seconds":null,"tracked_seconds":0},{"id":242178347,"name":"Implementation","workspace_id":21407567,"project_id":219958848,"user_id":null,"recurring":false,"active":true,"at":"2026-05-20T19:34:32+00:00","server_deleted_at":null,"estimated_seconds":null,"tracked_seconds":0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '585'
      X-Toggl-Quota-Resets-In:
      - '3'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
