interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"api_token":"REDACTED","email":"REDACTED","fullname":"Nablabits","timezone":"Europe/Madrid","2fa_enabled":false,"toggl_accounts_id":"KPdpGGLUK6rWsaiFmNhv8y","default_workspace_id":21407567,"beginning_of_week":1,"image_url":"https://assets.track.toggl.com/images/profile.png","created_at":"2026-05-18T18:50:58.219746Z","updated_at":"2026-05-20T18:22:27.637339Z","openid_email":null,"openid_enabled":false,"country_id":208,"has_password":true,"at":"2026-05-27T18:57:52.983954Z","authorization_updated_at":"2026-05-27T17:44:16.673432278Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '596'
      X-Toggl-Quota-Resets-In:
      - '3470'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
