interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"default_workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '595'
      X-Toggl-Quota-Resets-In:
      - '3599'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Delta","active":true,"billable":false,"color":"#4dc3ff","is_private":true,"template":false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects
  response:
    body:
      string: '{"id":219958858,"workspace_id":21407567,"client_id":null,"name":"Delta","is_private":true,"active":true,"at":"2026-05-20T19:35:13+00:00","created_at":"2026-05-20T19:35:13+00:00","server_deleted_at":null,"color":"#4dc3ff","billable":false,"template":false,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":null,"actual_seconds":null,"total_count":0,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","wid":21407567,"cid":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '579'
      X-Toggl-Quota-Resets-In:
      - '3557'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects
  response:
    body:
      string: '[{"id":219958848,"workspace_id":21407567,"client_id":null,"name":"Alpha","is_private":true,"active":true,"at":"2026-05-20T19:34:32+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#4dc3ff","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":4,"actual_seconds":15600,"total_count":4,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","status":"active","wid":21407567,"cid":null,"pinned":false},{"id":219958850,"workspace_id":21407567,"client_id":null,"name":"Beta","is_private":true,"active":true,"at":"2026-05-20T19:34:33+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#8ab734","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":2,"actual_seconds":[...]
- request:
    body: '[{"op":"replace","path":"/color","value":"#bc2d07"}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/219958858
  response:
    body:
      string: '{"success":[219958858],"failure":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '577'
      X-Toggl-Quota-Resets-In:
      - '3557'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/219958858
  response:
    body:
      string: '219958858'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '575'
      X-Toggl-Quota-Resets-In:
      - '3556'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
