interactions:
- request:
    body: '{"name":"lifecycle-tag"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags
  response:
    body:
      string: '{"id":20509834,"workspace_id":21407567,"name":"lifecycle-tag","at":"2026-06-01T18:10:06.500878Z","creator_id":13186279}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '589'
      X-Toggl-Quota-Resets-In:
      - '3451'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags
  response:
    body:
      string: '[{"id":20464801,"workspace_id":21407567,"name":"dev","at":"2026-05-20T18:25:18.265461Z","creator_id":13186279},{"id":20464810,"workspace_id":21407567,"name":"docs","at":"2026-05-20T18:27:27.64345Z","creator_id":13186279},{"id":20509834,"workspace_id":21407567,"name":"lifecycle-tag","at":"2026-06-01T18:10:06.500878Z","creator_id":13186279},{"id":20464800,"workspace_id":21407567,"name":"meeting","at":"2026-05-20T18:25:11.945088Z","creator_id":13186279},{"id":20464809,"workspace_id":21407567,"name":"review","at":"2026-05-20T18:27:26.980459Z","creator_id":13186279}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '588'
      X-Toggl-Quota-Resets-In:
      - '3451'
      X-Total-Count:
      - '5'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"lifecycle-tag-updated"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags/20509834
  response:
    body:
      string: '{"id":20509834,"workspace_id":21407567,"name":"lifecycle-tag-updated","at":"2026-06-01T18:10:06.922949Z","creator_id":13186279}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '587'
      X-Toggl-Quota-Resets-In:
      - '3451'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags/20509834
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '586'
      X-Toggl-Quota-Resets-In:
      - '3451'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
