interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/219958848
  response:
    body:
      string: '{"id":219958848,"workspace_id":21407567,"client_id":null,"name":"Alpha","is_private":true,"active":true,"at":"2026-06-01T18:10:05+00:00","created_at":"2026-05-20T19:34:31+00:00","server_deleted_at":null,"color":"#4dc3ff","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":4,"actual_seconds":15600,"total_count":0,"client_name":null,"can_track_time":true,"start_date":"2026-05-20","status":"active","wid":21407567,"cid":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-g7nsv
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '599'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
