interactions:
- request:
    body: '{"name":"Delta","active":true,"billable":false,"color":"#4dc3ff","is_private":true,"template":false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects
  response:
    body:
      string: '{"id":220146829,"workspace_id":21407567,"client_id":null,"name":"Delta","is_private":true,"active":true,"at":"2026-06-01T18:10:04+00:00","created_at":"2026-06-01T18:10:04+00:00","server_deleted_at":null,"color":"#4dc3ff","billable":false,"template":false,"auto_estimates":null,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":null,"recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":null,"actual_seconds":null,"total_count":0,"client_name":null,"can_track_time":true,"start_date":"2026-06-01","wid":21407567,"cid":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '597'
      X-Toggl-Quota-Resets-In:
      - '3454'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '[{"op":"replace","path":"/color","value":"#bc2d07"}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/220146829
  response:
    body:
      string: '{"success":[220146829],"failure":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '596'
      X-Toggl-Quota-Resets-In:
      - '3453'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects/220146829
  response:
    body:
      string: '220146829'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '595'
      X-Toggl-Quota-Resets-In:
      - '3453'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
