interactions:
- request:
    body: '{"created_with":"toggl_mcp_server","description":"Lifecycle test entry","start":"2026-06-08T08:00:00.000Z","stop":"2026-06-08T09:00:00.000Z","duration":3600,"billable":false,"workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries
  response:
    body:
      string: '{"id":4440460262,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-06-08T08:00:00Z","stop":"2026-06-08T09:00:00Z","duration":3600,"description":"Lifecycle
        test entry","tags":null,"tag_ids":null,"duronly":true,"at":"2026-06-10T07:26:18.025301Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-g7nsv
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '596'
      X-Toggl-Quota-Resets-In:
      - '3489'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"created_with":"toggl_mcp_server","description":"Lifecycle test entry
      (updated)","tags":["dev"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries/4440460262
  response:
    body:
      string: '{"id":4440460262,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-06-08T08:00:00Z","stop":"2026-06-08T09:00:00Z","duration":3600,"description":"Lifecycle
        test entry (updated)","tags":["dev"],"tag_ids":[20464801],"duronly":true,"at":"2026-06-10T07:26:18.66104Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-k2cmx
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '595'
      X-Toggl-Quota-Resets-In:
      - '3488'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries/4440460262
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-g7nsv
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '594'
      X-Toggl-Quota-Resets-In:
      - '3488'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
