interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"default_workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '598'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/clients
  response:
    body:
      string: '[{"id":68751302,"wid":21407567,"archived":false,"name":"Bar","at":"2026-05-18T18:54:20+00:00","creator_id":13186279,"total_count":2},{"id":68751298,"wid":21407567,"archived":false,"name":"Sample
        Client","at":"2026-05-18T18:53:35+00:00","creator_id":13186279,"total_count":2}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '599'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
