interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"default_workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '599'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"lifecycle-tag"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags
  response:
    body:
      string: '{"id":20474300,"workspace_id":21407567,"name":"lifecycle-tag","at":"2026-05-23T07:11:04.168857Z","creator_id":13186279}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '599'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags
  response:
    body:
      string: '[{"id":20464801,"workspace_id":21407567,"name":"dev","at":"2026-05-20T18:25:18.265461Z","creator_id":13186279},{"id":20464810,"workspace_id":21407567,"name":"docs","at":"2026-05-20T18:27:27.64345Z","creator_id":13186279},{"id":20474300,"workspace_id":21407567,"name":"lifecycle-tag","at":"2026-05-23T07:11:04.168857Z","creator_id":13186279},{"id":20464800,"workspace_id":21407567,"name":"meeting","at":"2026-05-20T18:25:11.945088Z","creator_id":13186279},{"id":20464809,"workspace_id":21407567,"name":"review","at":"2026-05-20T18:27:26.980459Z","creator_id":13186279}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '598'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-Total-Count:
      - '5'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"lifecycle-tag-updated"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags/20474300
  response:
    body:
      string: '{"id":20474300,"workspace_id":21407567,"name":"lifecycle-tag-updated","at":"2026-05-23T07:11:05.255651Z","creator_id":13186279}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '596'
      X-Toggl-Quota-Resets-In:
      - '3599'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/tags/20474300
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '594'
      X-Toggl-Quota-Resets-In:
      - '3598'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
