interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"default_workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '592'
      X-Toggl-Quota-Resets-In:
      - '3597'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"created_with":"toggl_mcp_server","description":"Lifecycle test entry","start":"2026-05-18T08:00:00.000Z","stop":"2026-05-18T09:00:00.000Z","duration":3600,"billable":false,"workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries
  response:
    body:
      string: '{"id":4415273478,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-05-18T08:00:00Z","stop":"2026-05-18T09:00:00Z","duration":3600,"description":"Lifecycle
        test entry","tags":null,"tag_ids":null,"duronly":true,"at":"2026-05-20T19:35:15.950437Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '574'
      X-Toggl-Quota-Resets-In:
      - '3555'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries
  response:
    body:
      string: '[{"id":4415272765,"workspace_id":21407567,"project_id":219958850,"task_id":null,"billable":false,"start":"2026-05-19T15:00:00+00:00","stop":"2026-05-19T15:40:00+00:00","duration":2400,"description":"Weekly
        review","tags":["docs","review"],"tag_ids":[20464810,20464809],"duronly":true,"at":"2026-05-20T19:34:40.634291Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567,"pid":219958850},{"id":4415272751,"workspace_id":21407567,"project_id":219958848,"task_id":null,"billable":false,"start":"2026-05-19T11:00:00+00:00","stop":"2026-05-19T11:50:00+00:00","duration":3000,"description":"Testing","tags":["dev"],"tag_ids":[20464801],"duronly":true,"at":"2026-05-20T19:34:39.96412Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567,"pid":219958848},{"id":4415272731,"workspace_id":21407567,"project_id":219958851,"task_id":null,"billable":false,"start":"2[...]
- request:
    body: '{"created_with":"toggl_mcp_server","description":"Lifecycle test entry
      (updated)","tags":["dev"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries/4415273478
  response:
    body:
      string: '{"id":4415273478,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-05-18T08:00:00Z","stop":"2026-05-18T09:00:00Z","duration":3600,"description":"Lifecycle
        test entry (updated)","tags":["dev"],"tag_ids":[20464801],"duronly":true,"at":"2026-05-20T19:35:16.635967Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '573'
      X-Toggl-Quota-Resets-In:
      - '3555'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries/4415273478
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '572'
      X-Toggl-Quota-Resets-In:
      - '3554'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
