interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me
  response:
    body:
      string: '{"id":13186279,"default_workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '595'
      X-Toggl-Quota-Resets-In:
      - '3231'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Lifecycle client","notes":"test notes"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/clients
  response:
    body:
      string: '{"id":68764010,"wid":21407567,"archived":false,"name":"Lifecycle client","at":"2026-05-23T07:17:12+00:00","creator_id":13186279,"notes":"test
        notes","total_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '593'
      X-Toggl-Quota-Resets-In:
      - '3231'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Lifecycle client (updated)"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/clients/68764010
  response:
    body:
      string: '{"id":68764010,"wid":21407567,"archived":false,"name":"Lifecycle client
        (updated)","at":"2026-05-23T07:17:14+00:00","creator_id":13186279,"total_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '590'
      X-Toggl-Quota-Resets-In:
      - '3230'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/clients/68764010
  response:
    body:
      string: '68764010'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '588'
      X-Toggl-Quota-Resets-In:
      - '3229'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
