interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/projects?page=1&per_page=200&active=false
  response:
    body:
      string: '[{"id":220307293,"workspace_id":21407567,"client_id":null,"name":"Archived
        sample project","is_private":true,"active":false,"at":"2026-06-10T09:23:02+00:00","created_at":"2026-06-10T09:22:10+00:00","server_deleted_at":null,"color":"#bf7000","billable":true,"template":false,"auto_estimates":false,"estimated_hours":null,"estimated_seconds":null,"rate":null,"rate_last_updated":null,"currency":"USD","recurring":false,"template_id":null,"recurring_parameters":null,"fixed_fee":null,"actual_hours":null,"actual_seconds":null,"total_count":1,"client_name":null,"can_track_time":true,"start_date":"2026-06-10","status":"archived","wid":21407567,"cid":null,"pinned":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-k2cmx
      X-Page:
      - '1'
      X-Page-Size:
      - '200'
      X-Service-Level:
      - GREEN
      X-Sort-Field:
      - project_name
      X-Sort-Order:
      - asc
      X-Toggl-Quota-Remaining:
      - '578'
      X-Toggl-Quota-Resets-In:
      - '1893'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
