interactions:
- request:
    body: '{"created_with":"toggl_mcp_server","description":"Stop-by-id test entry","start":"2026-05-27T18:16:52.000Z","duration":-1,"billable":false,"workspace_id":21407567}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries
  response:
    body:
      string: '{"id":4423475888,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-05-27T18:16:52Z","stop":null,"duration":-1,"description":"Stop-by-id
        test entry","tags":null,"tag_ids":null,"duronly":true,"at":"2026-05-27T18:16:52.456475Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '597'
      X-Toggl-Quota-Resets-In:
      - '1644'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.track.toggl.com/api/v9/workspaces/21407567/time_entries/4423475888/stop
  response:
    body:
      string: '{"id":4423475888,"workspace_id":21407567,"project_id":null,"task_id":null,"billable":false,"start":"2026-05-27T18:16:52Z","stop":"2026-05-27T18:16:52Z","duration":0,"description":"Stop-by-id
        test entry","tags":[],"tag_ids":[],"duronly":true,"at":"2026-05-27T18:16:52.708463Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '596'
      X-Toggl-Quota-Resets-In:
      - '1644'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
