interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/workspaces
  response:
    body:
      string: '[{"id":21407567,"organization_id":21408363,"name":"Workspace","premium":true,"business_ws":true,"admin":true,"role":"admin","suspended_at":null,"server_deleted_at":null,"default_hourly_rate":null,"rate_last_updated":null,"default_currency":"USD","only_admins_may_create_projects":false,"only_admins_may_create_tags":false,"only_admins_see_team_dashboard":false,"projects_billable_by_default":true,"projects_private_by_default":true,"projects_enforce_billable":false,"limit_public_project_data":false,"last_modified":"2026-05-27T00:00:00Z","reports_collapse":true,"rounding":1,"rounding_minutes":0,"api_token":"REDACTED","at":"2026-05-27T18:16:52+00:00","logo_url":"https://assets.track.toggl.com/images/workspace.jpg","ical_url":"/ical/workspace_user/89eadb466c26902e231b39708f0468a1","ical_enabled":true,"csv_upload":null,"subscription":null,"te_constraints":{},"hide_start_end_times":false,"disable_timesheet_view":false,"disable_approvals":false,"disable_expenses":false,"working_hours_in_minutes":null,"active_project_count":3}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-ppt5f
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '599'
      X-Toggl-Quota-Resets-In:
      - '3600'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
