interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.track.toggl.com/api/v9/me/time_entries?start_date=2026-05-19T00%3A00%3A00.000Z&end_date=2026-05-20T00%3A00%3A00.000Z
  response:
    body:
      string: '[{"id":4415272765,"workspace_id":21407567,"project_id":219958850,"task_id":null,"billable":false,"start":"2026-05-19T15:00:00+00:00","stop":"2026-05-19T15:40:00+00:00","duration":2400,"description":"Weekly
        review","tags":["docs","review"],"tag_ids":[20464810,20464809],"duronly":true,"at":"2026-05-20T19:34:40.634291Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567,"pid":219958850},{"id":4415272751,"workspace_id":21407567,"project_id":219958848,"task_id":null,"billable":false,"start":"2026-05-19T11:00:00+00:00","stop":"2026-05-19T11:50:00+00:00","duration":3000,"description":"Testing","tags":["dev"],"tag_ids":[20464801],"duronly":true,"at":"2026-05-20T19:34:39.96412Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567,"pid":219958848},{"id":4415272731,"workspace_id":21407567,"project_id":219958851,"task_id":null,"billable":false,"start":"2026-05-19T09:00:00+00:00","stop":"2026-05-19T11:00:00+00:00","duration":7200,"description":"Feature
        work","tags":["dev"],"tag_ids":[20464801],"duronly":true,"at":"2026-05-20T19:34:39.283868Z","server_deleted_at":null,"user_id":13186279,"uid":13186279,"wid":21407567,"pid":219958851}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Instance:
      - track-public-api-proxy-57c75f56b6-lkcdp
      X-Service-Level:
      - GREEN
      X-Toggl-Quota-Remaining:
      - '593'
      X-Toggl-Quota-Resets-In:
      - '2449'
      X-We-are-hiring:
      - https://toggl.com/jobs/
    status:
      code: 200
      message: OK
version: 1
